@keyframes KingA {
  from {
    transfrom: rotateX(0);
  }
  to {
    transfrom: rotateX(360deg);
  }
}
img {
  border: 10px solid black;
  border-radius: 50%;
  width: 200px;
  animation: KingA 5s ease-in-out infinite;
}
