.startus-bar {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 4, 40);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.startus-bar__home__icon {
  width: 100px;
  height: 30px;
}

.search__bar {
  width: 90%;
  height: 20px;
  padding: 0;
  border: 0;
}
.fa-search {
  color: rgb(255, 255, 255);
}

.startus-bar__menu {
  display: flex;
  padding-left: 0;
}

header a {
  color: rgb(255, 255, 255);
}

.startus-bar__menu li {
  padding: 8px 12px;
}
.startus-bar__menu li:hover {
  background-color: #4aacb8;
  border-radius: 5px;
}
.startus-bar__search {
  width: 30%;
}
.startus-bar__buruger {
  display: none;
  position: absolute;
  right: 32px;
}
@media screen and (max-width: 768px) {
  .startus-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .startus-bar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .startus-bar__menu li {
    width: 100%;
    text-align: center;
  }
  .startus-bar__search {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 5px;
    left: 35%;
  }
  .startus-bar__search-icon {
    margin-left: 5px;
  }
  .startus-bar__buruger {
    margin-top: 5px;
    display: block;
  }
  .startus-bar__menu.active {
    display: flex;
  }
}
