.nav-music {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}
.nav-music__album {
  width: 100%;
  height: 100%;
}
